@mixin column-line {
  width: 1px;
  height: 100vh;
  background-color: rgb(29, 26, 21);
  position: absolute;
  top: 0;
}

@mixin mobile-23-desktop-23456__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-width;
    margin-right: 0;
  }
}

@mixin mobile-23-desktop-2345__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-width;
    margin-right: $column-line-width;
  }
}

@mixin mobile-23-desktop-2345__paddings {
  padding-left: $mobile-column-line-1-left;
  padding-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    padding-left: $column-line-width;
    padding-right: $column-line-width;
  }
}

@mixin mobile-23-desktop-3456__paddings {
  padding-left: $mobile-column-line-1-left;
  padding-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    padding-left: $column-line-2-left;
    padding-right: 0;
  }
}

@mixin mobile-23-desktop-234__paddings {
  padding-left: $mobile-column-line-1-left;
  padding-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    padding-left: $column-line-width;
    padding-right: $column-line-2-left;
  }
}

@mixin mobile-23-desktop-345__paddings {
  padding-left: $mobile-column-line-1-left;
  padding-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    padding-left: $column-line-2-left;
    padding-right: $column-line-1-left;
  }
}

@mixin mobile-23-desktop-23__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-2-left;
    margin-right: $column-line-2-left;
  }
}

@mixin mobile-23-desktop-34__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-2-left;
    margin-right: $column-line-2-left;
  }
}

@mixin mobile-23-desktop-45__paddings {
  padding-left: $mobile-column-line-1-left;
  padding-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    padding-left: $column-line-3-left;
    padding-right: $column-line-width;
  }
}

@mixin mobile-23-desktop-45__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-3-left;
    margin-right: $column-line-width;
  }
}

@mixin mobile-23-desktop-3__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-2-left;
    margin-right: $column-line-3-left;
  }
}

@mixin mobile-23-desktop-4__margins {
  margin-left: $mobile-column-line-1-left;
  margin-right: $mobile-column-line-5-right;
  @media screen and (min-width: 1000px) {
    margin-left: $column-line-3-left;
    margin-right: $column-line-2-left;
  }
}
