$primary: orange;

$mobile-column-line-1-left: 10%;
$mobile-column-line-3-left: 50%;
$mobile-column-line-5-right: 10%;

$column-line-1-left: calc(100vw / 6);
$column-line-2-left: calc(100vw / 6 * 2);
$column-line-3-left: calc(100vw / 6 * 3);
$column-line-4-left: calc(100vw / 6 * 4);
$column-line-5-left: calc(100vw / 6 * 5);
