body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow-x: hidden;
  background-color: black;
}
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.v-html__anchor-white {
  color: white;
  text-decoration: underline;
}
.v-html__anchor-white:hover {
  color: orange;
}
